env
*~
*.pyc
*.swp
pip-log.txt
data/
\#*
.\#*
Moo.egg-info
paster.log
cliklog.log

# Personal config file
development.ini
abourget.ini
ITHQ.db

# Deb releasing stuff
deploy/debian/ithq/*
deploy/debian/ithq.*.*
deploy/debian/ithq.substvars
deploy/debian/files
deploy/tmp/
ithq_*changes
ithq_*deb

# Test stuff
tests/chromedriver*
chromedriver.log
tests/screenshots
tests/build/*
.coverage
coverage.xml
nosetests.xml

# Stale data
ithq.sql
ithq/clonecheck.txt
ithq/output.html
wireframes/WireframesITHQ.odt
wireframes/WireframesITHQ.pdf
